<div class="justify-content-center d-flex align-item-center vh-50 mt-5">
  <div class="card bg-dark col-lg-6 text-warning ">
    <div class="card-body text-center">
      <%= form_with(model: movie) do |form| %>
        <% if movie.errors.any? %>
          <div style="color: red">
            <h2><%= pluralize(movie.errors.count, "error") %> no puedes guardar esta película:</h2>

            <ul>
              <% movie.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="row g-3">
          <div class="col-md-6">
            <%= form.label :name, "Nombre", class: "form-label" %>
            <%= form.text_field :name, class: "form-control" %>
          </div>

          <div class="col-md-6">
            <%= form.label :client_id, "Cliente", class: "form-label" %>
            <%= form.select :client_id, options_for_select(@clients), class: "form-select" %>
          </div>

          <!-- Nuevo campo para la URL de la imagen -->
          <div class="col-md-12">
            <%= form.label :cover_image_url, "URL de la Carátula", class: "form-label" %>
            <%= form.text_field :cover_image_url, class: "form-control" %>
          </div>

          <div class="col-md-12">
            <button type="submit" class="btn btn-warning fw-bold text-center">Crear Película</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

