<div id="<%= dom_id client %>">
  <tr>
    <th scope="row"><%= client.id %></th>
    <td><%= client.name %></td>
    <td><%= client.age %></td>
    <td><%= client.movies.last %></td>
    <td><%= link_to raw('<i class="fa-solid fa-eye"></i>'), client, title: "Ver Cliente" %></td>
    <td><%= link_to raw('<i class="fa-solid fa-edit"></i>'), edit_client_path(client), title: "Editar Cliente" %></td>
  </tr>
</div>
