<div class="d-flex justify-content-center align-items-center vh-50 mt-5">
  <%= form_with(model: client, class: "card bg-dark col-lg-6 p-3 text-warning") do |form| %>
    <% if client.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(client.errors.count, "error") %> No puedes borrar este cliente:</h2>

        <ul>
          <% client.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row g-3">
      <div class="col-md-6">
        <%= form.label :name, "Nombre", class: "form-label" %>
        <%= form.text_field :name, class: "form-control" %>
      </div>

      <div class="col-md-6">
        <%= form.label :age, "Edad", class: "form-label" %>
        <%= form.number_field :age, class: "form-control" %>
      </div>

      <div class="col-md-12">
        <%= form.submit "Crear Cliente", class: "form-control btn btn-warning fw-bold text-center" %>
      </div>
    </div>
  <% end %>
</div>
